{{#if currentUser}}
<button class="btn pull-right" {{action 'logout'}}>
  Logout
</button>
{{else}}
<button class="btn pull-right" {{action 'register'}}>
  Sign Up
</button>
{{/if}}
<h1 class="title">Emberready Firebase</h1>