.alert {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.85098);
  color: #fff;
  height: auto;
  font-size: 14px;
    .message {
      position: relative;
      margin: 0px 0 0 0;
      padding: 7px;
      line-height: 30px;
    }
}

.alert-success {
  background-color: #a4c739;
}
.alert-danger {
  background-color: #EC0000;
}
.alert-info {
  background: #0D4D4D;
}
.alert-warning {
  background: #FFAA00;
}
.form-error-msg {
  font-size: 14px;
  background-color: #EC0000;
  color: #fff;
  margin-bottom: 10px;
  padding: 5px;
  border-radius: 3px;
}