{{nav-bar currentUser=currentUser logout='logout'}}
<div class="content">
<div class="content-padded">
  <form>
    <h4>My Profile</h4>
    {{form-errors errors=errors}}
    {{input value=currentUser.name class="form-controll" id="me_name"}}

    {{spin-button id='update' isLoading=isLoading buttonText=buttonText action='update'}}
  </form>
  {{#link-to 'changePassword' class='btn btn-block'}}Change Password{{/link-to}}
</div>
</div>
